[submodule "dependencies/pure"]
	path = dependencies/pure
	url = https://github.com/sindresorhus/pure
[submodule "dependencies/zsh-autosuggestions"]
	path = dependencies/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "dependencies/zsh-syntax-highlighting"]
	path = dependencies/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "dependencies/zsh-autocomplete"]
	path = dependencies/zsh-autocomplete
	url = git@github.com:marlonrichert/zsh-autocomplete.git
