; C  | left_command
; T  | left_control
; O  | left_option
; S  | left_shift
; F  | fn
; Q  | right_command
; W  | right_control
; E  | right_option
; R  | right_shift
{
  :profiles {
   :default {:default true} 
  }
  :layers {
   :hyper-mode {:key :caps_lock :alone {:key :escape}} 
  }
  :main [
    {:des "disbale some keystrokes"
     :rules [
            [:escape :vk_none] ; disable escape, use caps_lock instead
     ]}
    {:des "map f4 to left_option+space to toggle Raycast", 
     :rules [
            [:f4 :!OTSspacebar]
     ]}
    {:des "map caps_lock hold to brake you fingers shortcuts"
     :rules [:hyper-mode
            [:spacebar :!OTSspacebar]       ; toggle Raycast
            [:left_command :!CTOSspacebar]  ; change input source
     ]}
    {:des "map caps_lock hold to option+shift+<key>. option+shift+<key> map is happening in Raycast",
     :rules [:hyper-mode 
            [:a :!TSa]                      ; toggle Arc
            [:b :!TSb]                      ; toggle MusicBox (b for box)
            [:c :!TSc]                      ; toggle Calendar
            [:d :!TSd]                      ; toggle Dash
            [:e :!TSe]                      ; toggle dEepL (translator)
            [:i :!TSi]                      ; toggle fInder 
            [:f :!TSf]                      ; toggle Fork
            [:m :!TSm]                      ; toggle Spotify (m for music)
            [:o :!TSo]                      ; toggle Obsidian
            [:r :!TSr]                      ; toggle Things (r for reminders)
            [:l :!TSl]                      ; toggle Logseq
            [:s :!TSs]                      ; toggle Sublime Text
            [:t :!TSt]                      ; toggle Telegram
            [:v :!TSv]                      ; toggle Clipboard Manager
            [:w :!TSw]                      ; toggle Warp
            [:x :!TSx]                      ; toggle Xcode
            [:p :!TSp]                      ; toggle System Preferences/Passwords
            [:h :!TOCh]                     ; toggle Flow (pomodoro timer)
            [:right_command :!Tspacebar]    ; toggle Search Menu Items in Raycast
            [:right_option :!TOspacebar]    ; quick add to Things
            [:left_option :!TOCspacebar]    ; toggle Contexts search (change this to caps+right_cmg when figure out double press to change language)
      ]}]}