[user]
	email = kiryl.harbachonak@icloud.com
	name = Kiryl Harbachonak
[credential]
	username = japanese-goblinn
	helper = osxkeychain
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore
[include]
	path = ~/.github_token
[push]
	autoSetupRemote = true
