[user]
	email = cool45akol@gmail.com
	name = Kirill Gorbachyonok
[credential]
	username = japanese-goblinn
	helper = osxkeychain
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore
[include]
	path = ~/.github_token
[push]
	autoSetupRemote = true
